.container {
    max-width: 1100px;
    width: 100%;
    padding: 0px 80px;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
        padding: 0 24px;
    }
    @media screen and (max-width: 480px) {
        padding: 0 9px;
    }
}