@mixin btn {
    cursor: pointer;
    width: 156px;
    height: 58px;
    background-color: #fff;
    border-radius: 30px;
    border-style: none;
    font-size: 19px;
    text-transform: uppercase;
    font-family: AlegreyaSans-ExtraBold;
    color: #365a49;
    &:hover {
        background-color: #365a49;
        color: #fff;
    }
}

@mixin label {
    font-family: AlegreyaSans-Medium;
    color: #365a49;
    font-size: 18px;
}

@mixin input {
    border: none;
    max-width: 220px;
    height: 59px;
    outline: none;
    font-size: 18px;
    padding-left: 11px;
}

@mixin input-long {
    border: none;
    max-width: 460px;
    height: 59px;
    outline: none;
    font-size: 18px;
    padding-left: 11px;
}

@mixin input-short {
    border: none;
    max-width: 100px;
    height: 59px;
    outline: none;
    font-size: 18px;
    padding-left: 11px;
}

@mixin border {
    &:hover {
        outline: 3px solid #dee2bd;
    }
    &:focus {
        outline: 3px solid #dee2bd;
    }
}