.bg__intro {
    background: #86c3d7;
    width: 100wh;
    height: 100vh;
    background-image: url(/img/pattern_intro.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.img-intro {
    &__bars {
        position: absolute;
        right: 130px;
        bottom: 130px;
    }
    &__sheet-top {
        position: absolute;
        right: 110px;
        bottom: 155px;
    }
    &__sheet-left {
        position: absolute;
        top: 93%;
        left: 10%;
    }
    &__sheet-bottom {
        position: absolute;
        top: 92%;
        right: 20%;
    }
    &__berries-bottom {
        position: absolute;
        top: 93%;
        right: 9%;
    }
    &__berries-top {
        position: absolute;
        top: 68%;
        right: 18%;
    }
}

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__intro-list {
        display: flex;
        justify-content: space-between;
        width: 634px;
    }
}

.intro-list__intro-text {
    font-family: AlegreyaSans-Regular;
    font-size: 18px;
}

.intro-text__link {
    color: #fff;
}

.intro-tel__link {
    font-family: AlegreyaSans-Regular;
    font-size: 24px;
    color: #fff;
}

.intro-main__text-first {
    font-family: AlegreyaSans-Bold;
    font-size: 48px;
    color: #fff;
    width: 323px;
    text-transform: uppercase;
}

.intro-main__text-second {
    font-family: AlegreyaSans-Regular;
    font-size: 21px;
    width: 342px;
    color: #fff;
    font-weight: normal;
    margin-top: 10px;
}

.intro-main__intro-button {
    @include btn;
    margin-top: 32px;
}

.container__intro-footer {
    margin-bottom: 47px;
}

.intro-footer__intro-list {
    display: flex;
    justify-content: space-between;
    width: 460px;
}

.intro-list__intro-footer {
    display: flex;
    align-items: center;
}

.intro-footer {
    &__text-sheet {
        color: #fff;
        font-size: 16px;
        font-family: AlegreyaSans-Regular;
        width: 84px;
        margin-left: 7px;
    }
    &__text-car {
        color: #fff;
        font-size: 16px;
        font-family: AlegreyaSans-Regular;
        width: 58px;
        margin-left: 12px;
    }
    &__text-roulette {
        color: #fff;
        font-size: 16px;
        font-family: AlegreyaSans-Regular;
        width: 70px;
        margin-left: 9px;
    }
}

// description section
.bg__description {
    background: #fff;
    width: 100wh;
    height: 100vh;
    background-image: url(/img/узор_лист.png);
    background-repeat: no-repeat;
    background-position: left;
}

.container__info-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text-block {
    &__info-main {
        margin-top: 113px;
        font-family: AlegreyaSans-Bold;
        font-size: 48px;
        text-transform: uppercase;
    }
    &__info-second {
        margin-top: 20px;
        padding: 0 250px 0 250px;
        font-family: AlegreyaSans-Light;
        color: #666;
        font-size: 18px;
        text-align: center;
    }
}

.container__info-main-block {
    display: flex;
    justify-content: space-between;
}

.info-main-block__together {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.together {
    &__icon {
        display: flex;
        justify-content: center;
        width: 125px;
        height: 125px;
        background-color: #f2f5f4;
        border-radius: 50%;
    }
    &__main {
        margin-top: 35px;
        font-family: AlegreyaSans-Bold;
        font-size: 27px;
    }
    &__text {
        margin-top: 25px;
        text-align: center;
        font-family: AlegreyaSans-Regular;
        color: #666;
        padding: 0 30px 0 30px;
    }
}

.overlay__raspberry {
    position: absolute;
    top: 178%;
}

// reviews section
.bg__reviews {
    height: 100vh;
}

.reviews__main {
    padding-top: 69px;
    display: flex;
    justify-content: center;
    font-family: AlegreyaSans-Bold;
    text-transform: uppercase;
    font-size: 48px;
}

.reviews__info-block {
    margin-top: 44px;
    background-color: #f8faf9;
    width: 940px;
    height: 345px;
    background-image: url(/img/Слой_2.png);
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    align-items: center;
}

.info-block {
    &__rev-img {
        margin-left: 45px;
    }
    &__rev-text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        justify-content: space-around;
        height: 260px;
    }
}

.rev-img__alena {
    max-width: none;
}

.rev-text {
    &__main {
        font-family: AlegreyaSans-Bold;
        font-size: 30px;
    }
    &__mid {
        margin-right: 100px;
        font-family: AlegreyaSans-Regular;
        font-size: 18px;
        color: #666666;
    }
    &__end {
        font-family: AlegreyaSans-Bold;
        font-size: 18px;
    }
}