.bg__intro {
    background: #86c3d7;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/pattern_intro.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.img-intro {
    &__bars {
        position: absolute;
        right: 130px;
        bottom: 130px;
    }
    &__sheet-top {
        position: absolute;
        right: 110px;
        bottom: 155px;
    }
    &__sheet-left {
        position: absolute;
        top: 95%;
        left: 10%;
    }
    &__sheet-bottom {
        position: absolute;
        top: 93.5%;
        right: 20%;
    }
    &__berries-bottom {
        position: absolute;
        top: 95%;
        right: 9%;
    }
    &__berries-top {
        position: absolute;
        top: 68%;
        right: 18%;
    }
}

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__intro-list {
        display: flex;
        justify-content: space-between;
        width: 634px;
    }
}

.intro-list__intro-text {
    font-family: AlegreyaSans-Regular;
    font-size: 18px;
}

.intro-text__link {
    color: #fff;
}

.intro-tel__link {
    font-family: AlegreyaSans-Regular;
    font-size: 24px;
    color: #fff;
}

.intro-main__text-first {
    font-family: AlegreyaSans-Bold;
    font-size: 48px;
    color: #fff;
    width: 323px;
    text-transform: uppercase;
}

.intro-main__text-second {
    font-family: AlegreyaSans-Regular;
    font-size: 21px;
    width: 342px;
    color: #fff;
    font-weight: normal;
    margin-top: 10px;
}

.intro-main__intro-button {
    @include btn;
    margin-top: 32px;
}

.container__intro-footer {
    margin-bottom: 47px;
}

.intro-footer__intro-list {
    display: flex;
    justify-content: space-between;
    width: 460px;
}

.intro-list__intro-footer {
    display: flex;
    align-items: center;
}

.intro-footer {
    &__text-sheet {
        color: #fff;
        font-size: 16px;
        font-family: AlegreyaSans-Regular;
        width: 84px;
        margin-left: 7px;
    }
    &__text-car {
        color: #fff;
        font-size: 16px;
        font-family: AlegreyaSans-Regular;
        width: 58px;
        margin-left: 12px;
    }
    &__text-roulette {
        color: #fff;
        font-size: 16px;
        font-family: AlegreyaSans-Regular;
        width: 70px;
        margin-left: 9px;
    }
}