.bg__intro {
    background: #86c3d7;
    width: 100%;
    height: 100vh;
    z-index: -1;
    &::before {
        z-index: 0;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(/img/pattern_intro.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
    }
}

.header {
    z-index: 2;
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__intro-list {
        display: flex;
    }
    &__intro-tel {}
}