.bg__intro {
    background: #86c3d7;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/pattern_intro.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.header {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__intro-list {
        display: flex;
        justify-content: space-between;
        width: 634px;
    }
}

.intro-list__intro-text {
    font-family: AlegreyaSans-Regular;
    font-size: 18px;
}

.intro-text__link {
    color: #fff;
}

.intro-tel__link {
    font-family: AlegreyaSans-Regular;
    font-size: 24px;
    color: #fff;
}

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.intro-main__intro-button {
    @include btn;
}