@charset "UTF-8";
@font-face {
  font-family: AlegreyaSans-Black;
  src: url(/fonts/AlegreyaSans-Black.ttf);
}
@font-face {
  font-family: AlegreyaSans-BlackItalic;
  src: url(/fonts/AlegreyaSans-BlackItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Bold;
  src: url(/fonts/AlegreyaSans-Bold.ttf);
}
@font-face {
  font-family: AlegreyaSans-BoldItalic;
  src: url(/fonts/AlegreyaSans-BoldItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-ExtraBold;
  src: url(/fonts/AlegreyaSans-ExtraBold.ttf);
}
@font-face {
  font-family: AlegreyaSans-ExtraBoldItalic;
  src: url(/fonts/AlegreyaSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Italic;
  src: url(/fonts/AlegreyaSans-Italic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Light;
  src: url(/fonts/AlegreyaSans-Light.ttf);
}
@font-face {
  font-family: AlegreyaSans-LightItalic;
  src: url(/fonts/AlegreyaSans-LightItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Medium;
  src: url(/fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: AlegreyaSans-MediumItalic;
  src: url(/fonts/AlegreyaSans-MediumItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Regular;
  src: url(/fonts/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: AlegreyaSans-Thin;
  src: url(/fonts/AlegreyaSans-Thin.ttf);
}
@font-face {
  font-family: AlegreyaSans-ThinItalic;
  src: url(/fonts/AlegreyaSans-ThinItalic.ttf);
}
.container {
  width: 1101px;
  padding: 0px 80px;
  margin: 0 auto;
}

.bg__intro {
  background: #86c3d7;
  width: 100wh;
  height: 100vh;
  background-image: url(/img/pattern_intro.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.img-intro__bars {
  position: absolute;
  right: 130px;
  bottom: 130px;
}
.img-intro__sheet-top {
  position: absolute;
  right: 110px;
  bottom: 155px;
}
.img-intro__sheet-left {
  position: absolute;
  top: 93%;
  left: 10%;
}
.img-intro__sheet-bottom {
  position: absolute;
  top: 92%;
  right: 20%;
}
.img-intro__berries-bottom {
  position: absolute;
  top: 93%;
  right: 9%;
}
.img-intro__berries-top {
  position: absolute;
  top: 68%;
  right: 18%;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.header {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__intro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 634px;
}

.intro-list__intro-text {
  font-family: AlegreyaSans-Regular;
  font-size: 18px;
}

.intro-text__link {
  color: #fff;
}

.intro-tel__link {
  font-family: AlegreyaSans-Regular;
  font-size: 24px;
  color: #fff;
}

.intro-main__text-first {
  font-family: AlegreyaSans-Bold;
  font-size: 48px;
  color: #fff;
  width: 323px;
  text-transform: uppercase;
}

.intro-main__text-second {
  font-family: AlegreyaSans-Regular;
  font-size: 21px;
  width: 342px;
  color: #fff;
  font-weight: normal;
  margin-top: 10px;
}

.intro-main__intro-button {
  cursor: pointer;
  width: 156px;
  height: 58px;
  background-color: #fff;
  border-radius: 30px;
  border-style: none;
  font-size: 19px;
  text-transform: uppercase;
  font-family: AlegreyaSans-ExtraBold;
  color: #365a49;
  margin-top: 32px;
}
.intro-main__intro-button:hover {
  background-color: #365a49;
  color: #fff;
}

.container__intro-footer {
  margin-bottom: 47px;
}

.intro-footer__intro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
}

.intro-list__intro-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-footer__text-sheet {
  color: #fff;
  font-size: 16px;
  font-family: AlegreyaSans-Regular;
  width: 84px;
  margin-left: 7px;
}
.intro-footer__text-car {
  color: #fff;
  font-size: 16px;
  font-family: AlegreyaSans-Regular;
  width: 58px;
  margin-left: 12px;
}
.intro-footer__text-roulette {
  color: #fff;
  font-size: 16px;
  font-family: AlegreyaSans-Regular;
  width: 70px;
  margin-left: 9px;
}

.bg__description {
  background: #fff;
  width: 100wh;
  height: 100vh;
  background-image: url(/img/узор_лист.png);
  background-repeat: no-repeat;
  background-position: left;
}

.container__info-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-text-block__info-main {
  margin-top: 113px;
  font-family: AlegreyaSans-Bold;
  font-size: 48px;
  text-transform: uppercase;
}
.info-text-block__info-second {
  margin-top: 20px;
  padding: 0 250px 0 250px;
  font-family: AlegreyaSans-Light;
  color: #666;
  font-size: 18px;
  text-align: center;
}

.container__info-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-main-block__together {
  margin-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.together__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 125px;
  height: 125px;
  background-color: #f2f5f4;
  border-radius: 50%;
}
.together__main {
  margin-top: 35px;
  font-family: AlegreyaSans-Bold;
  font-size: 27px;
}
.together__text {
  margin-top: 25px;
  text-align: center;
  font-family: AlegreyaSans-Regular;
  color: #666;
  padding: 0 30px 0 30px;
}

.overlay__raspberry {
  position: absolute;
  top: 178%;
}

.bg__reviews {
  height: 100vh;
  position: relative;
}

.reviews__main {
  padding-top: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: AlegreyaSans-Bold;
  text-transform: uppercase;
  font-size: 48px;
}

.reviews__info-block {
  margin-top: 44px;
  background-color: #f8faf9;
  width: 940px;
  height: 345px;
  background-image: url(/img/Слой_2.png);
  background-repeat: no-repeat;
  background-position: top right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block__rev-img {
  margin-left: 45px;
}
.info-block__rev-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 260px;
}

.rev-img__alena {
  max-width: none;
}

.rev-text__main {
  font-family: AlegreyaSans-Bold;
  font-size: 30px;
}
.rev-text__mid {
  margin-right: 100px;
  font-family: AlegreyaSans-Regular;
  font-size: 18px;
  color: #666666;
}
.rev-text__end {
  font-family: AlegreyaSans-Bold;
  font-size: 18px;
}

.review__list {
  width: 940px;
}

.list__rev-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 27px;
}

.rev-photo__together {
  margin-left: 11px;
}

.reviews__berry {
  position: absolute;
  right: 22%;
  top: 50px;
}
.reviews__sheet-left {
  position: absolute;
  left: 0px;
  top: 83%;
}
.reviews__berries-left {
  position: absolute;
  left: 0px;
  top: 89%;
}

.bg__delivery {
  width: 100%;
  height: 100vh;
  background-image: url(/img/паттерн.png);
  background-repeat: no-repeat;
  background-size: cover;
}