@font-face {
  font-family: AlegreyaSans-Black;
  src: url(/fonts/AlegreyaSans-Black.ttf);
}
@font-face {
  font-family: AlegreyaSans-BlackItalic;
  src: url(/fonts/AlegreyaSans-BlackItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Bold;
  src: url(/fonts/AlegreyaSans-Bold.ttf);
}
@font-face {
  font-family: AlegreyaSans-BoldItalic;
  src: url(/fonts/AlegreyaSans-BoldItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-ExtraBold;
  src: url(/fonts/AlegreyaSans-ExtraBold.ttf);
}
@font-face {
  font-family: AlegreyaSans-ExtraBoldItalic;
  src: url(/fonts/AlegreyaSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Italic;
  src: url(/fonts/AlegreyaSans-Italic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Light;
  src: url(/fonts/AlegreyaSans-Light.ttf);
}
@font-face {
  font-family: AlegreyaSans-LightItalic;
  src: url(/fonts/AlegreyaSans-LightItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Medium;
  src: url(/fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: AlegreyaSans-MediumItalic;
  src: url(/fonts/AlegreyaSans-MediumItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Regular;
  src: url(/fonts/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: AlegreyaSans-Thin;
  src: url(/fonts/AlegreyaSans-Thin.ttf);
}
@font-face {
  font-family: AlegreyaSans-ThinItalic;
  src: url(/fonts/AlegreyaSans-ThinItalic.ttf);
}
.container {
  width: 1101px;
  padding: 0px 80px;
  margin: 0 auto;
}

.bg__intro {
  background: #86c3d7;
  width: 100vw;
  height: 100vh;
  background-image: url(/img/pattern_intro.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.header {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__intro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 634px;
}

.intro-list__intro-text {
  font-family: AlegreyaSans-Regular;
  font-size: 18px;
}

.intro-text__link {
  color: #fff;
}

.intro-tel__link {
  font-family: AlegreyaSans-Regular;
  font-size: 24px;
  color: #fff;
}